.closeButton{   
-webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
    
    display: flex;
    color: whitesmoke !important;
    float: right;
    padding: 5px !important;
    border-radius: 50px !important;
 
}

.closeButton:hover{
    box-shadow:0px 0px 30px  rgba(0, 255, 185, 0.2) ;
    background-color: transparent !important;
}



.movieHomepage{
    color: black !important;
  
    font-weight: 900 !important;
    text-shadow:0px 0px 5px  rgba(0, 255, 185, 1) ;
    background-color: rgba(17, 197, 159, 1) !important; 
     transition: 200 ease-in-out;
}

.movieHomepage:hover{
    background-color: rgba(17, 197, 159, 0.5) !important;
    text-shadow:0px 0px 30px  rgba(0, 255, 185, 1) ;

}

.carousele{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 60% ;

    
}

.carouselContainer{
    display: flex;
     align-items: center !important;
     margin-top: 15px;
}